
body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(169, 135, 174), rgb(173, 211, 204));
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

}

html {
    padding: 0;
    margin: 0;
}

.mainHeader{
    height: 100px;
    width: inherit;
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: solid;
}
.topMenu{
    width: 100vw;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(183, 203, 194);
    color: rgb(0, 0, 0);
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.topMenuItem{
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
.topMenuItem:hover{
    background-color: rgb(68, 65, 65);
    color: white;
    cursor: pointer;
    border: 1px solid black;
    
}

.formBack{
    height: 550px;
    width: 300px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 40px;
    box-shadow: 5px 5px 15px black;
}


.ingNameInvalid{
    border-color: red;
    border-radius: 2px;
}

.mealWrap{
    border: 2px solid black;
    background-color: white;
    width: 300px;
    height: 150px;
    margin: 20px;
    overflow: scroll;
    box-shadow: 5px 5px 9px rgb(46, 63, 80);
    border-radius: 10px;
    padding: 20px;
}

.mealWrap:hover{
    cursor: pointer;
    opacity: 50%;
}

#mainC{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
    padding-top: 70px;
    
}

.mealName{
    font-size: 20px;
    font-weight: 800;
    padding: 5px 5px 10px 5px;
}

.mealType{

}

#mainPara {
    width: 10100px;
}

.mealArea{
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mealDisplay{
    width: 100vw;
    height: 100vh;
    display: flex;
}