
body{
    padding: 0;
    margin: 0;
    background-color: rgb(94, 94, 94);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.topMenu{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}

.topMenuItem{
    border: 1px solid white;
    width: inherit;
    height: inherit;
    text-align: center;
}
.topMenuItem:hover{
    background-color: rgb(129, 106, 76);
    cursor: pointer;
    
}

.formBack{
    height: 550px;
    width: 300px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 40px;
}


.ingNameInvalid{
    border-color: red;
    border-radius: 2px;
}

.mealWrap{
    border: 2px solid black;
    background-color: white;
    width: 300px;
    height: 150px;
    margin: 10px;
}

#mainC{
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: none;
    padding-top: 70px;
    
}